 
 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

// taruni start
#taruni{
    width: 100%;
    height: 35px;
    background-color: brown;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   font-style: initial;
}

// end taruni 
// nav strat
#navbar{
    width: 100%;
    height: 60px;
    background-color:white;
   display: flex;
   // flex-wrap: wrap;
   align-items: center;
   
  
  
   .navbar1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
       ul{
        
          color: black;  
           align-items: center;
    
           
         }
      }
   
 }
  
li{
   list-style: none;
   align-items: center;

     a{
        text-decoration: none;
        color: black;
       padding-left:80px ;
       font-size: 22px;
     }
     
     
   }
   
   .icon{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
   padding-left:200px ;
      font-size: 20px;
      gap: 30px;
     }
// end nav
#kurti{
   width: 100%;
   height:100vh ;
   display: grid;
   place-items: center;
   
}
.changeimage{
   width:100% ;
   height: 600px;
   background-image: url("./image/image1.webp");
   background-size: 100% 600px;
  animation-name: myani;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes myani{
   0%{
      background-image:url("./image/image1.webp");
   }
   25%{
      background-image:url(./image/image3.webp)
   }

    }


.div1 {
    
   width: 100%;
   height: 300px;
gap: 50px;
display: flex;
 flex-wrap: wrap; 
align-items: center;
justify-content: space-between;
// padding-bottom: 2%;
}
  

#div1{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.tital{
   color:black;
   font-size: 20px;
   align-items: center;
   
}
// end main
// <!-- heading strat -->
.shop{
   font-size: 25px;
   padding-left:34%;
}
.shop1{
   font-size: 25px;
   padding-left:35%;
   
}
.shop2{
   font-size: 25px;
   padding-left:36%;
}
// end heading
// strat box image
#dress{
   width: 100%;
   height: 450px;
   display: flex;
   // flex-wrap: wrap;
   gap: 30px;
 
   align-items: center;
}
.save{
   width: 100%;
   height: 550px;
   display: grid;
   flex-wrap: wrap;
   grid-template-columns: repeat(auto-fill,300px);
   margin-bottom: 2%; 
   align-items: center;
   
}
// end box image
// strat video
#dress1{
   width: 100%;
   height: 500px;
   display: flex;
   // flex-wrap: wrap;
   gap: 30px;
  padding-left: 40px;
   align-items: center;

}
// end video
// strat 4box image 
#bottoms{
   width: 100%;
   height: 450px;
   gap: 50px;
display: flex;
// flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.botto{
   width: 100%;
   height: 400px;
   display: flex;
   // flex-wrap: wrap;
  
}
// end 4box image
// last image strat
#star{
   width: 100%;
   height: 600px;
   display: grid;
   // flex-wrap: wrap;
   grid-template-columns: repeat(auto-fill,600px);
   gap: 40px;
   justify-content: center;
}
.star1{
   margin-top: 5%;
   width: 100%;
   height: 550px;
}
@media(max-width:450px)  {
   #navbar{
      width: 0px;
      height: 0px;
      // overflow: hidden;
      // position:absolute;

   }
   // #star{
   //    width: 100%;
   //    height: 600px;
   //    display: grid;
   //    // flex-wrap: wrap;
   //    grid-template-columns: 1fr ;
   //    gap: 40px;
   // }
   
}